.footer {
  margin-top: 22px;
  min-width: 500px;
  flex-grow: 1;
}

.footer__info {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: #505050;

  margin-left: 10px;
}
