.maintainer-info {
  width: 69px;
  height: 54px;
  background-color: #000000;
  opacity: 0.62;
  margin-bottom: 30px;
  margin-top: auto;
  margin-left: $vertival-margin;
  margin-right: $vertival-margin;
}
