.news {
  width: 410px;
  margin-left: 16px;
  border-radius: 2px;
  background-color: #1c5394;
}

.news__date {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  margin-top: 30px;
  margin-bottom: 42px;
  margin-left: -3px;
}

.news__info {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  padding: 0 20px;
}

.news__subscribe-block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    display: block;
    height: 1px;
    width: 147px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 58px;
    display: block;
    height: 1px;
    width: 147px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.news__vk-logo {
  display: block;
  margin: 0 auto;
  margin-top: 37px;
}
}

.news__subscribe-link {
  text-decoration: none;
  display: block;
  width: 140px;
  padding-left: 6px;
  margin: 0 auto;
  margin-top: 18px;
  position: relative;
}

.news__subscribe-text {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

  &::before {
    content: '';
    position: absolute;
    left: 116px;
    top: -7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.news__arrow {
  transform: rotate(180deg);
  margin-left: 15px;
}



